.project-card {
    border: 1.5px solid rgba(0, 0, 0, 0.5);
    width: 30vw;
    border-radius: 5px;
    
}

.project-img {
    aspect-ratio: auto;
    width: 30vw;
}

.project-text {
    color: black;
    font-family: 'Montserrat';
    padding-left: 0.5em;
    padding-right: 0.5em;
}

a {
    text-decoration: none;
}

@media screen and (max-width: 800px) {
    .project-card {
        width: 60vw;
    }
    .project-img {
        width: 60vw;
    }
    .project-text {
        font-size: 0.75em;
    }
}