.App {
  text-align: center;
  background-color: #f5f4f3;
  height: 100%;
}

.headshot {
  aspect-ratio: auto;
  max-width: 24vw;
  border-radius: 3px;
  box-shadow: 5px 7px 4px 0px rgba(0, 0, 0, 0.45);
}

h1, h2 {
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-weight: 500;
}

h1 {
  font-size: 4em;
  margin: 0%;
  display: inline-block;
  transform: scale(1.3, 1.1);
}

h2 {
  font-size: 2em;
  margin: 0%;
}


.name-and-title {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 32vw;
}

.line {
  border-bottom: 2px solid black;
  width: 30vw;
}

.name-and-image {
  padding-top: 3em;
  padding-right: 5vw;
  padding-left: 5vw;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}


.connect {
  width: auto;
  height: 11vh;
  background-color: #F9E0CF;
  bottom: 9em;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2em;
  margin-top: 4em;
}

.connect-sentence {
  font-size: 2em;
  font-family: 'Montserrat';
  font-weight: 100;
  font-style: italic;
  padding-right: 5em;
  transform: translate(-1.5em);
}

.connect-word {
  color: #F5F4F3;
  font-weight: 700;
}

.projects {
  display: flex;
  justify-content: space-evenly;
  padding-bottom: 3em;
  font-weight: bold;
}

.linkedin, .github, .email {
  aspect-ratio: 1/1;
  width: 3vw;
  transform: translate(-2em);
}

.projects-section-h2 {
  padding-bottom: 1em;
  font-size: 2em;
}

.projects-section {
  background-color: #f5f4f3;
  padding-top: 3em;
}

.my-story-h2 {
  padding-top: 1.5em;
  font-size: 2em;
}

.about-me-p {
  width: 50vw;
  font-size: 1.1em;
  text-align: justify;
  border: 2px solid black;
  border-radius: 5px;
  padding: 2em;
  margin-top: 2.5em;
  background-color: #f9e0cf6b;
  box-shadow: 5px 7px 4px 0px rgba(0, 0, 0, 0.45);
}

.about-me {
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media screen and (max-width: 800px) {
  h1 {
    font-size: 2em;
  }
  h2 {
    font-size: 1em;
  }
  .name-and-image {
    display: flex;
    flex-direction: column-reverse;
    gap: 2em;
  }
  .connect-sentence {
    font-size: 1em;
    padding-left: 0.5em;
    padding-right: 0em;
  }
  .linkedin, .github, .email {
    width: 4.5vw;
  }
  .headshot {
    max-width: 60vw;
  }
  .projects {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1em;
  }
  .projects-section-h2 {
    font-size: 1.5em;
  }
  .about-me-p {
    font-size: 0.85em;
    width: 75vw;
  }
  .my-story-h2 {
    font-size: 1.5em;
  }
}
