.App {
  text-align: center;
  background-color: #F5F4F3;
  border-radius: 5px;
  height: 100%;
  margin: 2.3em;
}

.headshot {
  aspect-ratio: auto;
  max-width: 24vw;
  border-radius: 3px;
  box-shadow: 5px 7px 4px 0px rgba(0, 0, 0, 0.45);
}

h1, h2 {
  font-family: "TT-Ricordi-Fulmini";
  font-weight: 300;
}

h1 {
  font-size: 4em;
  margin: 0%;
  display: inline-block;
  transform: scale(1.3, 1.1);
}

h2 {
  font-size: 2em;
  margin: 0%;
}

.name-and-title {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 32vw;
}

.line {
  border-bottom: 2px solid black;
  width: 30vw;
}

.name-and-image {
  padding-top: 5em;
  padding-right: 5vw;
  padding-left: 5vw;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.circle1, .circle2 {
  height: 6em;
  width: 6em;
  background-color: rgb(249, 224, 207, 0.5);
  filter: blur(8px);
  border-radius: 50%;
  position: absolute;
}

.circle1 {
  position: relative;
  bottom: 130px;
  left: 210px;
  animation: moveCircle1 4s infinite alternate;
}

.circle2 {
  position: relative;
  bottom: 280px;
  left: 525px;
  animation: moveCircle2 3s infinite alternate;
}

/* @keyframes moveCircle1 {
  from {
    transform: translate(-80px, -80px); 
  }
  to {
    transform: translate(60px, 60px); 
  }
}

@keyframes moveCircle2 {
  from {
    transform: translate(0px, 0px); 
  }
  to {
    transform: translate(-90px, 90px); 
  }
} */

.connect {
  width: auto;
  height: 9vh;
  background-color: #F9E0CF;
  position: relative;
  bottom: 9em;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2em;
}

.connect-sentence {
  font-size: 2em;
  font-family: 'Montserrat';
  font-weight: 100;
  font-style: italic;
  padding-right: 5em;
  transform: translate(-1.5em);
}

.connect-word {
  color: #F5F4F3;
  font-weight: 700;
}

.projects {
  background-color: #F5F4F3;
  display: flex;
  justify-content: space-evenly;
  position: relative;
  bottom: 3.5em;
}

.linkedin, .github, .email {
  aspect-ratio: 1/1;
  width: 3vw;
  transform: translate(-2em);
}

.projects-section-h2 {
  position: relative;
  bottom: 3em;
  font-size: 2em;
}

.projects-section {
  background-color: #F5F4F3;
  border-radius: 5px;
}

video {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  object-fit: cover;
}