.App {
  text-align: center;
  background-color: #F5F4F3;
  height: 100vh;
}

img {
  aspect-ratio: auto;
  max-width: 30vw;
}

h1, h2 {
  font-family: "TT-Ricordi-Fulmini";
  font-weight: 300;
}

h1 {
  font-size: 5em;
  margin: 0%;
}

h2 {
  font-size: 2em;
  margin: 0%;
}

.name-and-title {
  display: flex;
  flex-direction: column;
  width: 40vw;
}

.line {
  border-bottom: 2px solid black;
}

.name-and-image {
  padding-top: 5em;
  display: flex;
  justify-content: space-around;
  align-items: center; ;
}
